html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to right, #faafe9, #dbbaff, #b5c5ff, #8fcfff, #73d6ff, #62dcf5, #61e1e6, #6fe4d3, #84e7bc, #a2e8a4, #c4e78e, #e8e27f);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 10px;
}

nav {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  height: 75px;
  justify-content: center;
}
nav > a:last-child{
  margin-left: auto 0;
}
nav > i {
  margin-right: auto;
  padding: 10px
}