<% include("../partials/html-head") %> 
<% include("../partials/nav") %> 

<main>
  <h1> <%= title %> </h1>
  <form id="add-shops" action="/shops" method="POST">
    <label for="name">Shop Name:
      <input type="text" name="name">
    </label><br>
    <label for="imageURL"> Image:
      <input type="file" name="imageUrl">
    </label><br>
    <label for="location">Location:
      <input type="text" name="location">
    </label><br>
    <label for="flavors">Flavors:
      <% flavors.forEach(flavor => { %>
        <option value="<%= flavor._id%>"><%= flavor.name%></option>
      <% }) %> 
    </label><br>
    <button type="submit">Add Shop</button>
  </form>
</main>
<% include("../partials/footer") %> 
