form {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}
label {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
select {
  border: none;
  font-size: 1.9rem;
  color: #008294;
  padding: 5px;
  border-radius: 12px;
  margin: 10px 15px;
}
input {
  font-size: 1.6rem;
  border: none;
  padding: 10px;
  border-radius: 12px;
  margin: 10px;
}
#btn {
  padding: 10px;
  margin: auto;
}
